json_node-red.txt
[
    {
        "id": "0f020daca0670127",
        "type": "tab",
        "label": "Smart Thermostat",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "192.168.1.12",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Smart Thermostat",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Μετρήσεις Αισθητήρα",
        "tab": "dashboard_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09e0d557dfa95b58",
        "type": "ui_group",
        "name": "Ιστορικό",
        "tab": "dashboard_tab",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "14b13c9922290bf4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d84e1026edf26349",
        "type": "ui_group",
        "name": "Θερμοστάτης",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e30a58d8961cccb",
        "type": "mqtt in",
        "z": "0f020daca0670127",
        "name": "Read MQTT Data",
        "topic": "home_status",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "3ef775cf10cf9a3c"
            ]
        ]
    },
    {
        "id": "3ef775cf10cf9a3c",
        "type": "json",
        "z": "0f020daca0670127",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "c53accfa7823c188",
                "8cd2e55dc4ac2495"
            ]
        ]
    },
    {
        "id": "c53accfa7823c188",
        "type": "function",
        "z": "0f020daca0670127",
        "name": "Extract Temperature",
        "func": "msg.payload = msg.payload.temperature.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "20e53389ab50db0c",
                "42a1a75a2f82c1c8",
                "30048e19d4ae38ed"
            ]
        ]
    },
    {
        "id": "8cd2e55dc4ac2495",
        "type": "function",
        "z": "0f020daca0670127",
        "name": "Extract Humidity",
        "func": "msg.payload = msg.payload.humidity.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "2b5752e988eaa01c",
                "7a338df44d928616"
            ]
        ]
    },
    {
        "id": "20e53389ab50db0c",
        "type": "ui_gauge",
        "z": "0f020daca0670127",
        "name": "Temperature Gauge",
        "group": "dashboard_group",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Θερμοκρασία (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "2b5752e988eaa01c",
        "type": "ui_gauge",
        "z": "0f020daca0670127",
        "name": "Humidity Gauge",
        "group": "dashboard_group",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Υγρασία (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "42a1a75a2f82c1c8",
        "type": "ui_chart",
        "z": "0f020daca0670127",
        "name": "Temperature Chart",
        "group": "09e0d557dfa95b58",
        "order": 1,
        "width": 6,
        "height": "4",
        "label": "Γράφημα Θερμοκρασίας",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#de1212",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7a338df44d928616",
        "type": "ui_chart",
        "z": "0f020daca0670127",
        "name": "Humidity Chart",
        "group": "09e0d557dfa95b58",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Γράφημα Υγρασίας",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#66a3ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "30048e19d4ae38ed",
        "type": "function",
        "z": "0f020daca0670127",
        "name": "Compare and Decide ON/OFF",
        "func": "let current = msg.payload;\nlet target = flow.get(\"targetTemp\") || 22; // default 22\n\nif (current < target) {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 280,
        "wires": [
            [
                "d1163ed2ca9a6067",
                "82a2969f5a6ce5d8"
            ]
        ]
    },
    {
        "id": "d1163ed2ca9a6067",
        "type": "mqtt out",
        "z": "0f020daca0670127",
        "name": "Send to Heating",
        "topic": "heating/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "1d756b59be04f158",
        "type": "ui_numeric",
        "z": "0f020daca0670127",
        "name": "Target Temperature",
        "label": "Επιθυμητή Θερμοκρασία (°C)",
        "tooltip": "",
        "group": "d84e1026edf26349",
        "order": 1,
        "width": "5",
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 15,
        "max": "35",
        "step": 0.5,
        "className": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "7953310daeaf3cda"
            ]
        ]
    },
    {
        "id": "7953310daeaf3cda",
        "type": "function",
        "z": "0f020daca0670127",
        "name": "Store Target Temp",
        "func": "flow.set(\"targetTemp\", msg.payload);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "82a2969f5a6ce5d8",
        "type": "ui_text",
        "z": "0f020daca0670127",
        "group": "d84e1026edf26349",
        "order": 2,
        "width": "5",
        "height": 1,
        "name": "Heating Status",
        "label": "Κατάσταση Θέρμανσης",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1220,
        "y": 280,
        "wires": []
    }
]